@charset "uft-8";
body {
    min-width: 1600px;
    width: 100%;
    height: auto;
    background: var(--background);
    margin: auto;
    transition: all 0.7s;
    user-select: none;
}



/* scroll bar */
body::-webkit-scrollbar {
    width: 25px;
    background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
    height: 5em;
    background-color: var(--primary);
    border-radius: 50px;
}

body::-webkit-scrollbar-button {
    height: 20px;
    background-color: #fff;
}






/* header */
.container {
    display: flex;
    max-width: 1480px;
    width: 100%;
    margin: auto;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.8);
    align-items: center;
    z-index: 9999;
    user-select: none;
}

header .logo {
    height: 80px;
}

header .logo img {
    animation: logoani 3s infinite;
}

@keyframes logoani {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(50%);
    }


    100% {
        transform: scale(100%);
    }
}


header .logo img {
    width: 180px;
    margin: 7.5px 0;
}

header .gnb {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-left: 40%;
}

header .gnb li a:hover {
    color: var(--secondary);
}

header .gnb li:first-child a:hover::before {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 5px;
    animation: lineani 1s ease-in-out;
}

header .gnb li:nth-child(2) a:hover::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 7px;
    animation: lineani2 1s ease-in-out;
}

header .gnb li:nth-child(3) a:hover::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 5px;
    animation: lineani3 1s ease-in-out;
}

header .gnb li:nth-child(4) a:hover::before {
    position: absolute;
    content: '';
    width: 65px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 30px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 10px;
    animation: lineani4 1s ease-in-out;
}

@keyframes lineani {
    0% {
        width: 0%;
    }

    100% {
        width: 50px;
    }
}

@keyframes lineani2 {
    0% {
        width: 0%;
    }

    100% {
        width: 40px;
    }
}

@keyframes lineani3 {
    0% {
        width: 0%;
    }

    100% {
        width: 60px;
    }
}

@keyframes lineani4 {
    0% {
        width: 0%;
    }

    100% {
        width: 65px;
    }
}

header .gnb li {
    height: 30px;
}

header .gnb li img {
    width: 30px;
    margin-top: -10%;
}

header .gnb #facebook a:hover::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--secondary);
    margin-top: 35px;
    margin-left: 12px;
    animation: circleani 1.5s ease-in-out infinite;
}

header .gnb #twitter a:hover::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--secondary);
    margin-top: 35px;
    margin-left: 12px;
    animation: circleani 1.5s ease-in-out infinite;
}

header .gnb #search a:hover::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--secondary);
    margin-top: 35px;
    margin-left: 12px;
    animation: circleani 1.5s ease-in-out infinite;
}

@keyframes circleani {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

header .gnb a {
    display: block;
    color: var(--text1);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}



/* qick */
.qick {
    position: fixed;
    right: 3%;
    top: 12%;
    width: 55px;
    height: 270px;
    background: #fff;
    margin: auto;
    justify-content: center;
    z-index: 9999999;
    text-align: center;
}

.qick ul {
    margin-top: 10px;
}

.qick ul li {
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
    transition: all 1s;
    position: relative;

}

.qick ul li:nth-child(1):hover:before {
    content: 'lesles0906@naver.com';
    text-align: center;
    position: absolute;
    top: -10px;
    left: -220px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 35px;
    color: var(--secondary);
    animation: qick 0.5s ease-in;
}

@keyframes qick {
    0% {
        width: 0px;
        overflow: hidden;
    }

    100% {
        width: -100%;
        overflow: visible;
    }
}

.qick ul li:nth-child(2):hover:before {
    content: '010.5375.8297';
    text-align: center;
    position: absolute;
    top: -6px;
    left: -220px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 35px;
    color: var(--secondary);
    animation: qick 0.5s ease-in;

}


.qick ul li a {
    display: block;
    color: #D8D8D8;
    transition: all 1s;
}

.qick ul li:hover a {
    color: #777;
}

.qick ul li span {
    margin: 10px;
}

.qick ul li img {
    width: 43px;
    margin: 6px;
}



/* home */
.container1 {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.home h1::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    z-index: 999;
    margin-top: 390px;
    margin-left: -700px;
}

.home {
    display: flex;
    background: url(../image/bg.jpg) no-repeat;
    width: 100%;
    height: 750px;
    position: relative;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 350px;
    margin-top: 280px;
    font-family: 'Noto Sans KR';
    font-size: 25px;
    color: var(--text1);
    z-index: 3;
    font-weight: bold;
    font-weight: 800;
}


.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 7s infinite;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    20% {
        margin-top: 0;
    }

    40% {
        margin-top: -5.62rem;
    }

    60% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}



.home .span a:last-child {
    color: var(--text1);
    position: absolute;
    top: 455px;
    left: 410px;
    /* animation: infinite scale 2s ease-in-out; */
    z-index: 3;

}

.home h1::before {
    position: absolute;
    content: '';
    background-color: var(--secondary);
    width: 300px;
    height: 514px;
    z-index: 1;
    top: -171px;
    left: 1345px;
}

.home h1 {
    position: absolute;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    font-weight: 1000;
    top: 340px;
    left: 250px;
    color: var(--text1);
    z-index: 3;
}

.home h1>span {
    color: var(--primary);
    z-index: 3;


}


.home .span img {
    position: absolute;
    width: 80px;
    top: 425px;
    left: 320px;
    animation: imgani 2s infinite;
    z-index: 3;
}

@keyframes imgani {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(60%);
    }

    100% {
        transform: scale(100%);
    }
}


.home .img img {
    width: 500px;
    position: absolute;
    bottom: -10px;
    left: 1100px;
    z-index: 3;
}

.home .hover img {
    width: 570px;
    position: absolute;
    top: 150px;
    left: 750px;
    transition: all 0.7s;
    transform-style: flat;
    transform-style: preserve-3d;
    z-index: 2;

}

#lottie {
    z-index: 1;
    position: absolute;
    width: 1600px;
    top: -150px;
    left: 00px;
}




/* @keyframes tp-rotateplane{
0% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
}
20% {
    transform: perspective(500px) rotateX(-3deg) rotateY(-3deg);
}
50% {
    transform: perspective(500px) rotateX(-5deg) rotateY(-5deg);
}
80% {
    transform: perspective(500px) rotateX(-15deg) rotateY(-15deg);
}
100% {
    transform: perspective(500px) rotateX(-20deg) rotateY(-20deg);
}}

.home .hover img:hover{
    animation: tp-rotateplane 0.7s infinite ease-in-out;
} */
/* about */
.container2 {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.about h2::after {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    z-index: 999;
    margin-top: 520px;
    margin-left: 1200px;
}

.about {
    background: var(--primary);
    width: 100%;
    height: 680px;
    display: flex;
    position: relative;
    user-select: none;
    z-index: 1;

}

.about .box {
    width: 100%;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-left: -90px;
}

.about h2 {
    width: 500px;
    font-size: 40px;
    font-weight: 900;
    color: #FFDCDC;
    margin-left: 200px;
    margin-top: 90px;
}

.about .box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.about .box1 .one {
    width: 20px;
    font-size: 40px;
    font-weight: 900;
    color: #FFA7A7;
    margin: 60px 195px;
}

.about .box1 .one+p {
    font-size: 25px;
    font-weight: 900;
    color: #FFF;
    margin-top: -90px;
    margin-left: 290px;
    font-family: 'Noto Sans KR';
}

.about .first {
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    margin-top: 30px;
    margin-left: 290px;
    font-family: 'Noto Sans KR';
}

.about .box2 {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin: -203px 35px;
}

.about .box2 .two {
    font-size: 40px;
    font-weight: 900;
    color: #FFA7A7;
}

.about .box2 .two+p {
    font-size: 25px;
    font-weight: 900;
    color: #FFF;
    margin-top: 10px;
    margin-left: 45px;
    font-family: 'Noto Sans KR';
}

.about .second {
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    margin-top: 66px;
    margin-left: -83px;
    font-family: 'Noto Sans KR';

}

.about .box3 {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-left: 550px;
}

.about .box3 .three {
    font-size: 40px;
    font-weight: 900;
    color: #FFA7A7;
    margin-top: -39px;

}

.about .box3 .three+p {
    width: 100px;
    font-size: 25px;
    font-weight: 900;
    color: #FFF;
    margin-top: -29px;
    margin-left: 45px;
    font-family: 'Noto Sans KR';
}

.about .third {
    font-size: 18px;
    font-weight: 400;
    color: #FFF;
    margin-top: 25px;
    margin-left: -97px;
    font-family: 'Noto Sans KR';


}

.about .first {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    row-gap: 22px;
}

.about .second {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    row-gap: 22px;

}

.about .third {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    row-gap: 22px;
}

.bg1 {
    width: 100vw;
    background-color: var(--primary);
}



/* skill */
.skill {
    width: 100%;
    height: 900px;
    background: var(--text3);
    margin: auto;
    color: #fff;
    margin-top: 70px;
}

.skill>h2 {
    font-size: 45px;
    text-align: center;
    color: #E3E3E3;
    font-weight: 900;
    margin-top: 150px;
}

.skill>p {
    font-size: 18px;
    font-weight: 300;
    color: #C7C7C7;
    text-align: center;
    margin-top: 15px;
    padding-left: 5px;
}

.skill .sk_box {
    display: flex;
    width: 1100px;
    justify-content: space-between;
    margin: auto;
    margin-top: 65px;
    padding: 20px;

}

.skill .sk_box h2 {
    font-size: 60px;
    font-weight: 900;
}

.skill .sk_box p {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}

.skill .sk_box span {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: var(--secondary);
    margin-left: 15px;
}

.skill .sk_btn {
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-top: 70px;
    background-color: var(--secondary);
    border-radius: 50px;
    transition: all 0.7s;
}

.skill .sk_btn:hover {
    background-color: #fff;
}

.skill .sk_btn:hover p {
    color: var(--secondary);
}

.skill .sk_btn p {
    text-align: center;
    color: #fff;
}

.bg2 {
    width: 100vw;
    background-color: var(--text3);
}


/* project1*/
.bg3 {
    width: 100vw;
    background-color: #fff;
    height: 1000px;
}

.project1 {
    width: 100%;
    background: #FFF;
    margin: auto;
    color: var(--text1);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.project1 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #ffbaba;
    margin-left: 50px;
}

.project1 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 190px;
}

.project1 p {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 190px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.project1 .pj_box1 {
    font-size: 22px;
    margin-top: 40px;
    margin-left: 190px;
}

.project1 .pj_box1 span.b {
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.project1 .pj_box1 span {
    display: block;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

.project1 .pj1_btn {
    width: 280px;
    height: 50px;
    margin-top: 30px;
    margin-left: 170px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

.project1 .pj1_btn>div {
    margin-bottom: 15px;
}

.pj1_btn1 a,
.pj1_btn2 a,
.pj1_btn3 a {
    padding: 10px 60px;
    background-color: var(--secondary);
    height: 100%;
    border-radius: 50px;
    margin-bottom: 15px;
    color: #FFF;
    transition: all 0.7s;
    font-family: 'Noto Sans KR';

}

.pj1_btn1 a:hover,
.pj1_btn2 a:hover,
.pj1_btn3 a:hover {
    background-color: var(--primary);
    color: #b35656;
}



.project1 .pj1_img {
    margin-top: -650px;
    margin-left: 500px;
    transition: all 0.7s;

}

.project1 .pj1_img img {
    width: 1200px;
}


/* project2 */
.bg4 {
    width: 100vw;
    background-color: #fff;
}

.project2 {
    width: 100%;
    background: #FFF;
    margin: auto;
    color: var(--text1);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.project2 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #ffacac;
    margin-left: 1150px;
}

.project2 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 1150px;
}

.project2 p {
    text-align: right;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 180px;
    font-weight: 700;
    font-family: 'Noto Sans KR';

}

.project2 .pj_box2 {
    text-align: right;
    font-size: 22px;
    margin-top: 40px;
    margin-right: 180px;
}

.project2 .pj_box2 span.b {
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.project2 .pj_box2 span {
    display: block;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

.project2 .pj2_btn {
    width: 280px;
    height: 50px;
    margin-top: 30px;
    margin-left: 1170px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

.project2 .pj2_btn>div {
    margin-bottom: 15px;
}

.pj2_btn1 a,
.pj2_btn2 a,
.pj2_btn3 a {
    padding: 10px 60px;
    background-color: var(--secondary);
    height: 100%;
    border-radius: 50px;
    margin-bottom: 15px;
    color: #FFF;
    transition: all 0.7s;
    font-family: 'Noto Sans KR';

}

.pj2_btn1 a:hover {
    background-color: var(--primary);
    color: #b35656;
}

.pj2_btn2 a:hover {
    background-color: var(--primary);
    color: #b35656;
}

.pj2_btn3 a:hover {
    background-color: var(--primary);
    color: #b35656;
}



.project2 .pj2_img {
    width: 500px;
    margin-top: -650px;
    margin-left: -100px;
    transition: all 0.7s;

}

.project2 .pj2_img img {
    width: 1200px;
}


/* project3*/
.bg7 {
    width: 100vw;
    background-color: #fff;
    height: 1100px;
    margin-top: -1065px;
}

.project3 {
    width: 100%;
    background: #FFF;
    margin: auto;
    color: var(--text1);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.project3 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #ffa3a3;
    margin-left: 50px;
}

.project3 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 190px;
}

.project3 p {
    font-size: 22px;
    margin-top: 10px;
    margin-left: 190px;
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.project3 .pj_box3 {
    font-size: 22px;
    margin-top: 40px;
    margin-left: 190px;
}

.project3 .pj_box3 span.b {
    font-weight: 700;
    font-family: 'Noto Sans KR';
}

.project3 .pj_box3 span {
    display: block;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

.project3 .pj3_btn {
    width: 280px;
    height: 50px;
    margin-top: 30px;
    margin-left: 170px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
}

.project3 .pj3_btn>div {
    margin-bottom: 15px;
}

.pj3_btn1 a,
.pj3_btn2 a,
.pj3_btn3 a {
    padding: 10px 60px;
    background-color: var(--secondary);
    height: 100%;
    border-radius: 50px;
    margin-bottom: 15px;
    color: #FFF;
    transition: all 0.7s;
    font-family: 'Noto Sans KR';


}

.pj3_btn1 a:hover,
.pj3_btn2 a:hover,
.pj3_btn3 a:hover {
    background-color: var(--primary);
    color: #b35656;
}



.project3 .pj3_img {
    margin-top: -650px;
    margin-left: 500px;
    transition: all 0.7s;

}

.project3 .pj3_img img {
    width: 1200px;
}






/* parallax */

.left_box {
    transform: translateX(-3000%);
}

.right_box {
    transform: translateX(3000%);
}

.boxs {
    transition: transform 2s;
}






/* banner */
.bg5 {
    position: relative;
    width: 100%;
    background-color: #FF8484;
    height: 533px;
    top: -533px;
    z-index: -99;
    left: -50%;
}

.bg6 {
    position: relative;
    width: 100%;
    background-color: #FF6161;
    height: 533px;
    top: -1066px;
    z-index: -99;
    left: 50%;
}

.box01 {
    width: 534px;
    height: 533px;
    background: #FF8484;
    color: #fff;
    text-align: center;
}

.box01 a,
.box02 a,
.box03 a {
    color: #fff;
}

.box01 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #FF9E9E;
    margin-left: 50px;
    text-align: center;
    margin-left: -12px;
    margin-top: 125px;
    text-shadow: 0px 0px 59px #F97B7B;
}

.box01 .pj1 {
    margin-left: -311px;
    margin-top: -191px;
    transition: all 0.7s;
}

.box01 .pj1:hover {
    transform:scale(120%);
}


.box01 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 150px;
}

.box01 p {
    font-family: "Noto sans KR";
    font-size: 32px;
    margin-top: 11px;
    margin-left: 260px;
    font-weight: 300;
    color: #FFDFDF;

}

.box02 {
    width: 533px;
    height: 533px;
    background: #FF6D6D;
    color: #fff;
    text-align: center;
}

.box02 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #F88;
    margin-left: 50px;
    text-align: center;
    margin-left: -12px;
    margin-top: 125px;
    text-shadow: 0px 0px 59px #EA6A6A;
}

.box02 .pj2 {
    margin-left: -311px;
    margin-top: -191px;
    transition: all 0.7s;
}

.box02 .pj2:hover {
    transform:scale(120%);
}

.box02 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 150px;
}

.box02 p {
    font-family: "Noto sans KR";
    font-size: 32px;
    margin-top: 11px;
    margin-left: 209px;
    font-weight: 300;
    color: #FFDFDF;
}

.box03 {
    width: 533px;
    height: 533px;
    background: #FF6161;
    color: #fff;
    text-align: center;
}

.box03 h2 {
    font-size: 300px;
    font-weight: 900;
    color: #FF7575;
    margin-left: 50px;
    text-align: center;
    margin-left: -12px;
    margin-top: 125px;
    text-shadow: 0px 0px 59px #F25B5B;
}

.box03 .pj3 {
    margin-left: -311px;
    margin-top: -191px;
    transition: all 0.7s;
}

.box03 .pj3:hover {
    transform: scale(120%);
}

.box03 h3 {
    font-size: 50px;
    font-weight: 900;
    margin-top: -160px;
    margin-left: 150px;
}

.box03 p {
    font-family: "Noto sans KR";
    font-size: 32px;
    margin-top: 11px;
    margin-left: 233px;
    font-weight: 300;
    color: #FFDFDF;
}




/* contact */
.bg8 {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: var(--background);
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact h2 {
    font-size: 45px;
    text-align: center;
    color: var(--text1);
    font-weight: 900;
    margin: auto;
    margin-top: 150px;
}

#contact span {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.ct_box1,
.ct_box2,
.ct_box3 {
    width: 400px;
    height: 430px;
    background-color: #fff;
    border-radius: 20px;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.25));
    margin: auto;
    margin-top: 100px;
    opacity: .7;
    transition: all 0.7s;
}

.ct_box1 {
    margin-left: 90px;
    transition: all 0.7s;

}

.ct_box1:hover {
    transform:scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box1:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box2:hover {
    transform: scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box2:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box3:hover {
    transform: scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box3:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box2 {
    margin-top: -430px;
    transition: all 0.7s;
}

.ct_box3 {
    margin-right: 90px;
    margin-top: -430px;
    transition: all 0.7s;
}

.ct_box1 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box2 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box3 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box1 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box2 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box3 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box1 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

.ct_box2 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

.ct_box3 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

#contact .ct_btn {
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-top: 70px;
    background-color: var(--secondary);
    border-radius: 50px;
    transition: all 0.7s;
}

#contact .ct_btn p {
    text-align: center;
    font-size: 16px;
}

#contact .ct_btn a {
    color: #fff;
}

#contact .ct_btn:hover {
    background-color: #ffa9a9;
}

#contact .ct_btn:hover a {
    color: var(--secondary);
}




/* footer */
.bg9 {
    width: 100%;
    height: 400px;
    background: var(--text3);
    margin: auto;
    color: #fff;
}

.footerbox {
    margin: auto;
    margin-top: -50px;

}

.footerbox h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 20px;
}

.footerbox p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #C7C7C7;
    margin-top: 5px;
}

.footerbox>img {
    width: 200px;
    margin-top: 100px;
    margin-bottom: 20px;
}

.f_box2 {
    margin-left: 600px;
    margin-top: -100px;
}

.f_box2 .img_box img {
    width: 35px;
    margin-right: 15px;
    margin-top: 15px;
}

.f_box3 {
    margin-left: 1200px;
    margin-top: -130px;
}

.f_box3 .footer_btn {
    width: 100px;
    height: 22px;
    margin-left: 100px;
    background-color: var(--secondary);
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: -22px;
    transition: all 0.7s;
}

.f_box3 .footer_btn:hover {
    background-color: #fff;
    color: var(--secondary);
}

.bg10 {
    background-color: #252525;
    width: 100%;
    height: 50px;
    color: #fff;
}

.bg10_box {
    width: 200px;
    height: 20px;
    text-align: center;
    margin: auto;
}

.bg10_box p {
    margin: auto;
    font-size: 20px;
    color: #C7C7C7;
    font-weight: 400;
    margin-top: 15px;
    animation: infinite scale 2s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(80%);
    }

    100% {
        transform: scale(100%);
    }
}




/* email */

.bg11 {
    background-color: #FF9E9E;
    width: 100%;
    height: 400px;
    color: #fff;
    position: relative;
}

.bg11 .me {
    position: absolute;
    z-index: 999;
    width: 500px;
    margin-top: -205px;
    margin-left: 30px;
}

.bg11 .back {
    width: 1200px;
    margin-left: 1000px;
    margin-top: -200px;

}

.bg11 h2 {
    display: block;
    margin-left: -1600px;
    margin-top: 130px;
    font-size: 30px;
    font-weight: 700;
}

.bg11 .email {
    width: 400px;
    border: none;
    border-radius: 40px;
    height: 50px;
    margin-top: 180px;
    margin-left: -290px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg11 p {
    margin-top: 180px;
    margin-left: 20px;
    background-color: var(--secondary);
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.7s;
}

.bg11 p:hover {
    background-color: #fff;
    color: var(--secondary);
    text-align: center;
    border: 2px solid var(--secondary);
}






/* another */
.bg12{
    width: 100%;
    height: 1200px;
    background: #fff;
    margin: auto;
    text-align: center;
    margin-top: -30px;
}

.another h2{
    font-size: 45px;
    text-align: center;
    color: var(--text1);
    font-weight: 900;
    margin-left: 530px;
}
.tabs {
	margin: 50px;
    margin-left: 580px;
    font-weight: 600;
    color: #fff;
}

.tab-button-outer {
	display: flex;
	justify-content: center;
}

.tab-button {
	background-color: var(--primary);
	padding: 15px 40px;
	cursor: pointer;
    transition: all 0.7s;
}

.tab-button:hover {
	background-color: rgb(255, 179, 179);
}

.tab-button.active {
	background-color: var(--secondary);
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

.carousel {
	width: 300px;
	margin: 50px auto;
}

.carousel img {
	width: 100%;
	margin: 0 auto;
}
.popup{position:absolute; display:block; background:white;}




/* ------------------------------------------ */
@media screen {}