body {
    font-family: sans-serif;
    font-size: 200%;
    margin: 100px;
    color: #eee;
    background: #fafafa;
}

.card {
    width: 176px;
    height: 246px;
    margin: auto;
    cursor: pointer;
}

.card div {
    width: 160px;
    height: 230px;
    line-height: 230px;
    color: #c00;
    background-color: #fff;
    position: absolute;
    font-size: 2em;
    text-align: center;
    border: 8px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 2px 2px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 1s ease;
    backface-visibility: visible;
    backface-visibility: hidden;
}

.card div span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.5em;
    width: auto;
    line-height: 1em;
}

.card div span:last-child {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.card .back {
    font-size: 0.8em;
    color: #fff;
    background: #36c;
}

.card .back {
    transform: perspective(400px) rotateY(0deg);
}

.card:hover .back {
    transform: perspective(400px) rotateY(-180deg);
}

.card .front {
    transform: perspective(400px) rotateY(180deg);
}

.card:hover .front {
    transform: perspective(400px) rotateY(0deg);
}